<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="JumpBoxConfig" type="BCToolBox.JumpBoxConfig, BCToolBox"/>
  </configSections>
  <appSettings>
    <add key="Subnet" value="255.255.255.252" />
    <add key="Dns1" value="8.8.8.8" />
    <add key="Dns2" value="8.8.4.4" />
    <add key="RipKey" value="auth#rip" />
    <add key="HostName" value="SPECTRUM" />
    <add key="ScriptReplaceValue_Network" value="[NETWORK]" />
    <add key="ScriptReplaceValue_Gateway" value="[GATEWAY]" />
    <add key="ScriptReplaceValue_Useable" value="[USEABLE]" />
    <add key="ScriptReplaceValue_Subnet" value="[SUBNET]" />
    <add key="ScriptReplaceValue_Dns1" value="[DNS1]" />
    <add key="ScriptReplaceValue_Dns2" value="[DNS2]" />
    <add key="ScriptReplaceValue_RipKey" value="[RIPKEY]" />
    <add key="ScriptReplaceValue_HostName" value="[HOST_NAME]" />
  </appSettings>
  <JumpBoxConfig>
    <JumpBoxes>
      <add name="NorthEast 1" address="24.24.43.132" port="22" user="bctechcpe" password="T3chBCcp3" default="true"/>
      <add name="NorthEast 2" address="24.24.43.133" port="22" user="bctechcpe" password="T3chBCcp3" default="false"/>
      <add name="Test Box" address="192.168.254.210" port="22" user="technician" password="technician" default="false"/>
    </JumpBoxes>
  </JumpBoxConfig>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>